<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhasmoPhanthonHint"
        tools:targetApi="31">
        <activity
            android:name=".Eng.Phanton_ENG_Activity"
            android:exported="false" />
        <activity
            android:name=".Eng.Wraith_ENG_Activity"
            android:exported="false" />
        <activity
            android:name=".Eng.Espiritu_ENG_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Thaye_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Mimico_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Gemelos_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Goryo_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Oni_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Sombra_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Jim_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Ente_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Deogen_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Obake_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Onryo_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Hantu_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Yurei_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Revenant_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Banshee_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Espectro_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Moroi_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Raiju_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Myling_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Yokai_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Demonio_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Pesadilla_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Poletr_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".Esp.Espiritu_ESP_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpanishActivity"
            android:exported="false" />
        <activity
            android:name=".EnglishActivity"
            android:exported="false" />
    </application>

</manifest>